<!-- public/partials/form.html -->

<h1 class="text-center">Novo contato</h1>
<form name="ContactForm" role="form">
    <div class="form-group">
        <label for="name">Nome completo: </label>
        <input type="text" id="name" name="name" class="form-control" ng-minlength="3" ng-model="contactCtrl.contact.name" ng-required="true" /><br />
        <code ng-show="ContactForm.name.$error.required && ContactForm.name.$dirty">Informe o nome de usuário!</code>
        <code ng-show="ContactForm.name.$error.minlength">O campo usuário deverá no mínimo 3 caracteres</code>
    </div>

    <div class="form-group">
        <label for="email">E-mail: </label>
        <input type="email" id="email" name="email" class="form-control" ng-model="contactCtrl.contact.email" ng-required="true" ng-change="verifyDuplicityEmail()"/><br />
        <code ng-show="ContactForm.email.$error.required && ContactForm.email.$dirty">Informe o e-mail!</code>
        <code ng-show="ContactForm.email.$error.pattern">Informe um e-mail válido!</code>
        <code ng-show="ContactForm.email.$error.duplicated">E-mail já cadastrado!</code>
    </div>

    <label for="phone-number">Telefones:  </label>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-4">
                <div class="form-group">
                    <input type="tel" id="phone-number" name="phoneNumber" ng-model="contactCtrl.contact.phoneNumber" ng-pattern="vr.regex" class="form-control"  ng-change="verifyDuplicityPhone()" ng-required="true"/>
                    <code ng-show="ContactForm.phoneNumber.$error.required && ContactForm.email.$dirty">Informe pelo menos um telefone!</code>
                    <code ng-show="ContactForm.phoneNumber.$error.pattern">Informe um telefone válido!</code>
                    <code ng-show="ContactForm.phoneNumber.$error.duplicated">Telefone já cadastrado!</code>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <button ng-click="addPhones()" id="add-phone" class="btn btn-secondary btn-sm">Adicionar mais um telefone</button><br /><br />
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comments">Observação de contato:  </label><br />
        <input type="text" id="comments" class="form-control" ng-model="contactCtrl.contact.comments" /><br />
    </div>

    <div class="form-group" id="addresses">
        Endereços: <br />
        <div class="container">
            <label for="zip-code">CEP: </label>
            <input type="number" id="cep" name="cep" ng-model="contactCtrl.cep" /><button class="" ng-click="contactCtrl.searchCEP()">Buscar</button>
            <button class="btn btn-secondary btn-sm">Adicionar mais um endereço</button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <label for="street">Logradouro:  </label>
                    <input type="text" id="street" name ="street" class="form-control" ng-model="contactCtrl.contact.Logradouro" readonly /><br />
                </div>
                <div class="col-sm-12 col-lg-3">
                    <label for="street-number">Nº: </label>
                    <input type="number" id="street-number" class="form-control" ng-model="contactCtrl.contact.streetNumber" />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-8">
                    <label for="neighbourhood">Bairro:  </label>
                    <input type="text" id="neighbourhood" class="form-control" ng-model="contactCtrl.contact.Bairro" readonly /><br />
                </div>
                <div class="col-sm-12 col-lg-3">
                    <label for="city">Cidade:  </label>
                    <input type="text" id="city" class="form-control" ng-model="contactCtrl.contact.Cidade" readonly /><br />
                </div>
                <div class="col-sm-12 col-lg-1">
                    <label for="state">Estado:  </label>
                    <input type="text" id="state" class="form-control" ng-model="contactCtrl.contact.Estado" readonly /><br />
                </div>
            </div>
        </div>
    </div>
    <input type="submit" ng-disabled="!ContactForm.$valid" class="btn btn-primary mb-2" ng-click="contactCtrl.addContact()" />
</form>
