<!-- public/partials/form.html -->

<h1 class="text-center">Novo contato</h1>
<form>
    <div class="form-group">
        <label for="name">Nome completo: </label>
        <input type="text" id="name" /><br />
    </div>
    <div class="form-group">
        <label for="email">E-mail: </label>
        <input type="email" id="email" /><br />
    </div>
    <div class="form-group phone-numbers">
        <label for="phone-number">Telefones:  </label>
        <input type="tel" id="phone-number" /><br />
    </div>
    <button id="add-phone">Adicionar mais um telefone</button><br /><br />
    <div class="form-group">
        <label for="comments">Observação de contato:  </label><br />
        <input type="text" id="comments" /><br />
    </div>
    <div class="form-group addresses">
        Endereços: <br />
        <label for="zip-code">CEP: </label>
        <input type="number" id="zip-code" /><button>Buscar</button><br />
        <label for="street">Logradouro:  </label>
        <input type="text" id="street" /><br />
        <label for="street-number">Nº: </label>
        <input type="number" id="street-number" />
        <label for="neighbourhood">Bairro:  </label>
        <input type="text" id="neighbourhood" /><br />
        <label for="city">Cidade:  </label>
        <input type="text" id="city" /><br />
        <label for="state">Estado:  </label>
        <input type="text" id="state" /><br />
    </div>
    <button>Adicionar mais um endereço</button><br /><br />
    <input type="submit" />
</form>